version: '3.8'
services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  api:
    build:
      context: ./backend
    environment:
      - MONGO_URI=mongodb://mongo:27017/muzifay
      - PORT=4000
      - PUBLIC_URL=http://localhost:4000
    ports:
      - "4000:4000"
    depends_on:
      - mongo
volumes:
  mongo-data:
